<div>
  <div class="input-group">
    <span class="input-group-btn">
      <a class="anm-select-image btn btn-success" ng-click="selectImage()">Select file</a>
    </span>
    <input type="text" class="form-control" readonly value="{{ options.value.url }}">
    <span ng-if="options.value" class="input-group-btn">
      <a class="pull-right btn btn-danger" ng-click="unselectImage()">
        <i class="fa fa-trash"></i></i>&nbsp;Remove
      </a>
    </span>
  </div>
  <textarea style="display: none;" name="{{ options.name }}">{{ images() }}</textarea>
</div>
